lib/docbuilder/dtd/appref.dtd

<?xml version="1.0" encoding="utf-8" ?>

<!ENTITY % common.refs SYSTEM "common.refs.dtd" >
%common.refs;

<!-- Structure -->

<!ELEMENT appref              (header,app,appsummary,description, 
			       (section|funcs)*,authors) >
<!ELEMENT app                 (#PCDATA) >
<!ELEMENT appsummary          (#PCDATA) >

<!-- `name' is used in common.refs.dtd and must therefore 
      be defined in each *ref. dtd -->
<!ELEMENT name                (#PCDATA) >
