lib/docbuilder/dtd/common.table.dtd

<!ELEMENT table               (row+,tcaption) >
<!ELEMENT row                 (cell+) >
<!ELEMENT cell                (%inline;)* >
<!ATTLIST cell                align  (left|center|right) "left"
                              valign (top|middle|bottom) "middle" >
<!ELEMENT tcaption            (#PCDATA) >
