lib/docbuilder/dtd/comref.dtd

<?xml version="1.0" encoding="utf-8" ?>

<!ENTITY % common.refs SYSTEM "common.refs.dtd" >
%common.refs;

<!ELEMENT comref              (header,com,comsummary,description, 
			       (section|funcs)*,authors) >
<!ELEMENT com                 (#PCDATA) >
<!ELEMENT comsummary          (#PCDATA) >

<!-- `name' is used in common.refs.dtd and must therefore 
      be defined in each *ref. dtd -->
<!ELEMENT name                (#PCDATA) >
