lib/docbuilder/dtd/part.dtd

<?xml version="1.0" encoding="utf-8" ?>

<!ENTITY % common SYSTEM "common.dtd" >
%common;
<!ENTITY % common.header SYSTEM "common.header.dtd" >
%common.header;

<!ELEMENT part                (header,description?,include+) >
<!ELEMENT description         (%block;|quote|br|marker|warning|note)* >
<!ELEMENT include             EMPTY >
<!ATTLIST include             file CDATA #REQUIRED>
